<app-header></app-header>
<div class="d-flex align-items-center justify-content-center" style="height: 250px;">
    <div class="body">
<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address : {{emailId}}</label>
      <input (input)="emailInput($event)" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input (input)="passwordInput($event)" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Remember me</label>
    </div>
    <button (click)="validate()" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>