<div class="header">
    <div class="title">
        <div ><svg  width="31" height="27" viewBox="0 0 31 27"
                fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="29.5114" height="25.4303" rx="4.5" stroke="black" />
                <path d="M7.57928 10.3972H25.5558" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M7.57928 15.5472H15.2557" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M7.57928 20.9888H20.9888" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                <circle cx="4.37266" cy="10.3972" r="1.06887" fill="black" />
                <circle cx="4.37266" cy="15.5473" r="1.06887" fill="black" />
                <circle cx="4.37266" cy="20.9888" r="1.06887" fill="black" />
                <rect x="3.50379" y="4.08684" width="16.3133" height="2.02926" rx="0.8" stroke="black"
                    stroke-width="0.4" />
                <rect x="21.4746" y="3.88684" width="4.85851" height="2.42926" rx="1" fill="black" />
            </svg>TaskToDo</div>
        
        <div class="hamburger">
            <svg width="45" height="37" viewBox="0 0 103 99" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_103_12)">
                    <rect x="6" y="3" width="91" height="87" rx="13" fill="white" />
                </g>
                <line x1="30" y1="24" x2="74" y2="24" stroke="black" stroke-width="6" stroke-linecap="round" />
                <line x1="30" y1="44" x2="74" y2="44" stroke="black" stroke-width="6" stroke-linecap="round" />
                <line x1="30" y1="64" x2="74" y2="64" stroke="black" stroke-width="6" stroke-linecap="round" />
                <defs>
                    <filter id="filter0_d_103_12" x="0" y="0" width="103" height="99" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feMorphology radius="2" operator="dilate" in="SourceAlpha"
                            result="effect1_dropShadow_103_12" />
                        <feOffset dy="3" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_103_12" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_103_12" result="shape" />
                    </filter>
                </defs>
            </svg>

        </div>
        <div class="links">
                <a href="#">Features</a>
                <a href="#">Contact us</a>
                <a href="#">About us</a>
        </div>
    </div>
</div>