<app-add-organisation-model (inputValue)="getInputValue($event)"></app-add-organisation-model>
<app-add-team-model (inputValue)="getInputValue($event)"></app-add-team-model>
<div class="header">
    <div class="title">
        <div (click)="onClick()"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="32" height="32" rx="3" fill="#17FF58"/>
            <rect x="5" y="5" width="22" height="4" rx="2" fill="#2211ED"/>
            <rect x="5" y="23" width="22" height="4" rx="2" fill="#2211ED"/>
            <rect x="5" y="14" width="14" height="4" rx="2" fill="#2211ED"/>
            <circle cx="23" cy="16" r="2" fill="#2211ED"/>
            </svg>
            TaskToDo</div>
        
        <div class="hamburger">
            <svg width="45" height="37" viewBox="0 0 103 99" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_103_12)">
                    <rect x="6" y="3" width="91" height="87" rx="13" fill="white" />
                </g>
                <line x1="30" y1="24" x2="74" y2="24" stroke="black" stroke-width="6" stroke-linecap="round" />
                <line x1="30" y1="44" x2="74" y2="44" stroke="black" stroke-width="6" stroke-linecap="round" />
                <line x1="30" y1="64" x2="74" y2="64" stroke="black" stroke-width="6" stroke-linecap="round" />
                <defs>
                    <filter id="filter0_d_103_12" x="0" y="0" width="103" height="99" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feMorphology radius="2" operator="dilate" in="SourceAlpha"
                            result="effect1_dropShadow_103_12" />
                        <feOffset dy="3" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_103_12" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_103_12" result="shape" />
                    </filter>
                </defs>
            </svg>

        </div>
        <div class="headerRoutes" *ngIf="!login">
                <a href="/features">Features</a>
                <a href="/contactUs">Contact</a>
                <a href="/aboutUs">About</a>
        </div>
        <div class="accountAndTeamContainer headerRoutes" *ngIf="login">
            <div class="dropdown mr-3">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" >{{project}}
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li class="d-inline-block text-truncate mb-1 d-flex flex-column" *ngFor="let data of projectListData; index as i">
                    <p (click)="updateProject(data)">{{data.projectName}}</p>
                </li>
                  <li class="d-inline-block text-truncate" *ngIf="teamListData?.length === 0">
                    <p >No data</p>
                </li>
                  <div class="dropdown-divider"></div>
                  <li class="d-inline-block text-truncate" ><a href="#" data-toggle="modal" data-target="#addTeamModel" >Create Project</a></li>
                  <div class="dropdown-divider"></div>
                  <li class="d-inline-block text-truncate" (click)="updateProject(null)"><p>All project</p></li>
                </ul>
              </div>
            <div class="dropdown mr-3">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" >{{team}}
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li class="d-inline-block text-truncate mb-1 d-flex flex-column" *ngFor="let data of teamListData; index as i">
                    <p (click)="updateTeam($event)">{{data.teamName}}</p>
                </li>
                  <li class="d-inline-block text-truncate" *ngIf="teamListData?.length === 0">
                    <p >No data</p>
                </li>
                  <div class="dropdown-divider"></div>
                  <li class="d-inline-block text-truncate" ><a href="#" data-toggle="modal" data-target="#addTeamModel" >Creat team</a></li>
                  <div class="dropdown-divider"></div>
                  <li class="d-inline-block text-truncate" (click)="updateTeam($event)"><p>All tasks</p></li>
                </ul>
              </div>
        <div class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">{{accountType}}
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li class="d-inline-block text-truncate" *ngIf="organisationListData?.length === 0"><p>No organisation registered</p></li>
              <li class="d-inline-block text-truncate d-flex flex-column mb-1" *ngFor="let data of organisationListData; index as i">
                <p (click)="updateOriganisation(data)">{{data.organisationName}}</p>
              </li>
              <div class="dropdown-divider"></div>
              <li class="d-inline-block text-truncate" ><p data-toggle="modal" data-target="#addOrganizationModel">Register organisation</p></li>
              <div class="dropdown-divider"></div>
              <li class="d-inline-block text-truncate"><p (click)="updateOriganisation(null)">All organisation</p></li>
            </ul>
          </div>
        </div>
    </div>
</div>