.header {
    height: 50px;
    /* background-color: red; */
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
}

.title{
    height : 100px;
    display: flex;
    margin-left: 55px;
    margin-top: 20px;
}

.title div svg {
    margin-right: 10px;
}

div p{
    font-size: 15px;
    margin-left: 20px;
}
.hamburger {
    display: none;
}
.headerRoutes {
    display: flex;
    position: absolute;
    right: 0px;
    margin-right: 20px;
}

a {
    margin-right: 20px;
    margin-left: 20px;
    color: black;
    text-decoration: none;
}

.companies {
    height: 20px;
    /* width : 200px; */
    background-color: red;
    padding-right: 15px;
    padding-bottom: 25px;
    border-radius: 10px;
}

li {
    max-width: 200px;
}
.dropdown-menu{
    margin-right: 60px;
    padding-right: 10px;
}
li,p {
    margin-bottom: 0px;
}
@media only screen and (max-width: 600px) {
    .hamburger {
        display: block;
        position: absolute;
        right: 0px;
        margin-right: 20px;
        margin-top: -5px;
    }
    
    .hamburger:hover {
        /* background-color: red; */
    }
    
    .a {
        margin-left: 20px;
    }
    
    .headerRoutes {
        display: none;
        margin-right: 20px;
        margin-top: 100px;
    }
    .hamburger:hover ~ .headerRoutes {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        border-style: solid;
        border-color: white;
        box-shadow: 1px 1px 10px 1px #4fa4ff;
        height: 150px;
        width: 150px;
    margin-top: 40px;
    border-radius: 20px;
}

.headerRoutes:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: white;
    border-style: solid;
    border-color: white;
     box-shadow: 1px 1px 10px 1px #4fa4ff;
    margin-top: 40px;
    border-radius: 20px;
}

a {
    color: black;
    margin: 13px;
    text-decoration: none;
}
    
}