<div class="header">
    <div class="d-flex align-items-center bd-highlight mb-3">
        <div class="mr-auto ml-5 mt-1 p-2 bd-highlight"><svg class="mr-3" width="31" height="27" viewBox="0 0 31 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="29.5114" height="25.4303" rx="4.5" stroke="black"/>
            <path d="M7.57928 10.3972H25.5558" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7.57928 15.5472H15.2557" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7.57928 20.9888H20.9888" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <circle cx="4.37266" cy="10.3972" r="1.06887" fill="black"/>
            <circle cx="4.37266" cy="15.5473" r="1.06887" fill="black"/>
            <circle cx="4.37266" cy="20.9888" r="1.06887" fill="black"/>
            <rect x="3.50379" y="4.08684" width="16.3133" height="2.02926" rx="0.8" stroke="black" stroke-width="0.4"/>
            <rect x="21.4746" y="3.88684" width="4.85851" height="2.42926" rx="1" fill="black"/>
            </svg>TaskToDo</div>
        <div class="p-2 bd-highlight mt-0 mr-5">Features</div>
        <div class="p-2 bd-highlight mt-0 mr-5">Contact us</div>
        <div class="p-2 bd-highlight mt-0 mr-5">About us</div>
      </div>
</div>