#testing > div > div.modal-body > form > div.dropdown.show > div {
    height: 200px;
    overflow-y: scroll;
}

#testing > div > div.modal-body > form > div.dropdown.show > div::-webkit-scrollbar {
    display: none;
}