<div class="d-flex align-items-center justify-content-center" style="height: 250px;">
    <div class="body">
        <h3>We have a task to do, let's get started with TaskToDo.</h3>
        <p>Your best option to manage tasks for your projects or organisation. Create the tasks and assign the tasks among the team with vast feature enabling best transition of team effort to best results.</p>
        <a class="btn btn-primary" href="/signIn" role="button">Sign Up</a>
        <button type="button" class="btn btn-outline-primary" (click)="goToSignIn()">Sign In</button>
    </div>
</div>