.body {
    /* background-color: red; */
    height: 100px;
    width: 1000px;
    margin-left: 55px;
    margin-top: 80px
}

a {margin-right: 30px;}

button a{
    margin-left: 25px;
}

button:hover ~ a{
    color : white;
}

@media only screen and (max-width: 600px) {
    .body {
        /* background-color: red; */
        height: auto;
        width: 200px;
        /* max-width: 300px; */
        /* margin-left: 55px; */
        position: absolute;
        left: 35px;
        top: 30px;
        right: 20px;
        margin-top: 200px;
        margin-left: 20px;
    }
    h3 {
        font-size: 20px;
    }
    .design {
        /* overflow-y: scroll; */
        background-color : red;
    }
    .design svg{
        width: 300px;
        position: absolute;
        /* left: 20px;  */
        /* right : 20px; */
        /* left: 20px; */
    }
}