<div class="d-flex align-items-center justify-content-start" style="height: 250px;">
    <div class="body">
        <h3>We have a task to do, let's get started with TaskToDo.</h3>
        <p>Your best option to manage tasks for your projects or organisation. Create the tasks and assign the tasks among the team with vast feature enabling best transition of team effort to best results.</p>
        <button class="btn btn-primary mr-5" type="submit">Sign up</button>
        <button type="button" class="btn btn-outline-primary">Sign in</button>
    </div>
</div>