.taskContainer {
    /* height: 82vh; */
    height : auto;
    background-color: #FFFFFF;
    margin-left: 110px;
    z-index: 1;
    border-color: #A1F7FF;
    border: 3px solid #E5FDFF; 
    position: absolute;
    right : 0px;
    left: 10px;
    top : 50px;
    bottom : 18px;
    overflow-y: scroll;
    box-shadow: 0 0 3px 20px rgba(255, 255, 255, 0.3) inset; 
}
.taskContainer::-webkit-scrollbar { width: 0 !important }
.dashboardContainer {
    width: 200vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}
.taskAndRequestContainer {
    width: 200vh;
    /* background-color: red; */
    display: flex;
}
.queryAndUserContainer {
    width: 200vh;
    /* background-color: red; */
    display: flex;
}
.taskData {
    /* height : 500px; */
    max-width : 600px;
    /* background-color: gainsboro; */
    z-index: -1;
}
.requestData {
    max-width: 600px;
    margin-left: 100px;
    /* background-color: rgb(255, 202, 202); */
}
.userData {
    max-width: 600px;
    margin-left: 100px;
    /* background-color: rgb(255, 202, 202); */
}
canvas {
    width: 500px;
}