.taskContainer {
    /* height: 82vh; */
    height : auto;
    background-color: #FFFFFF;
    margin-left: 110px;
    z-index: 1;
    border-color: #A1F7FF;
    border: 3px solid #E5FDFF; 
    position: absolute;
    right : 0px;
    left: 10px;
    top : 50px;
    bottom : 18px;
    overflow-y: scroll;
    box-shadow: 0 0 3px 20px rgba(255, 255, 255, 0.3) inset; 
}
.taskContainer::-webkit-scrollbar { width: 0 !important }
