.taskContainer {
    /* height: 82vh; */
    height : auto;
    background-color: #FFFFFF;
    margin-left: 110px;
    z-index: 1;
    border-color: #A1F7FF;
    border: 3px solid #E5FDFF; 
    position: absolute;
    right : 0px;
    left: 10px;
    top : 50px;
    bottom : 18px;
    overflow-y: scroll;
    box-shadow: 0 0 3px 20px rgba(255, 255, 255, 0.3) inset; 
}
.taskContainer::-webkit-scrollbar { width: 0 !important }

.dropdown-toggle-split::after, .dropright .dropdown-toggle-split::after, .dropup .dropdown-toggle-split::after {
    display: none;
}

.container {
    
    
    border-radius: 10px; 
    border-color: #A1F7FF;
    
    border: 3px solid #E5FDFF;
    
    margin-right: 0; 
    position: absolute;
    top: 0px;
    bottom : 0px;
    right : 0;
    left : 0px;
    margin-left: 10px;

    overflow-y: scroll;
}

.container::-webkit-scrollbar { width: 0 !important }

.list {
    
    
    
    
    border-radius: 10px;

    position: absolute;
    top: 150px;
    left: 15px;
    right: 15px;

    
}

.list::-webkit-scrollbar { width: 0 !important }

.list button {
    height : 39px;
}

.table {
    /* margin-top: 300px; */
    
    
    
}


.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: black;
    background-color: #EDEDED;
    border-radius: 20px;
    padding: 5px 15px;
}

.btn-secondary {
    color: black;
    background-color: #EDEDED;
    border-radius: 20px;
    padding: 5px 15px;

}

.filters {
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0 0 20px 20px #FFFFFF; 
    /* left: 0;
    right: 0; */
}

.filters button {
    
}

button {
    /* margin-top: 100px; */
    height: 40px;
    border-radius: 20px;
}

.taskItems {
    position: absolute;
    left: 0px;
    right : 0px;
    height: 200px;
    
}
.taskItem{
    height: 40px;
    
    border-width: 0.2px; 
    border-color: #000000;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
}
.text-start{
    
}
.taskItem:first-child {
    border-width: 0.2px; 
    border-radius: 10px 10px 0px 0px;
    border-color: #000000;
    border-top-style: solid;
    border-bottom-style: none;
  border-right-style: solid;
  border-left-style: solid;
}
.taskItem:last-child {
    border-width: 0.2px; 
    border-radius: 0px 0px 10px 10px;
    border-color: #000000;
    border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
}
.taskItem:only-child {
    border-width: 0.2px; 
    border-radius: 10px;
    border-color: #000000;
    border-style: solid;
}

.totalTaskReferenceColor {
    height : 15px;
    width : 15px;
    background-color: #2E68FC;
    border-radius : 50%;
}
.totalTaskReferenceTitle p {
    font-size: 15px;
}
.completedTaskRefernceTitle{
    font-size: 15px;
}
.completedTaskColor {
    height : 15px;
    width : 15px;
    background-color: #0BD437;
    border-radius : 50%;
}
.taskInProgressReferenceTitle p {
    font-size: 15px;
}
.taskInProgressColor {
    height : 15px;
    width : 15px;
    background-color: #E9ED1E;
    border-radius : 50%;
}
.taskToDoReferenceTitle p {
    font-size: 15px;
}
.taskToDoColor {
    height : 15px;
    width : 15px;
    background-color: #F27731;
    border-radius : 50%;
}
.taskList{
    background-color : color(srgb 0.92 0.92 0.92); 
    border-radius: 10px;
}
.taskListContainer {
    margin-top: 15px;
}

.taskCard {
    width: 300px;
    /* background-color: red; */
    border: 3px solid #000000; 
    border-radius: 10px;
    position: relative;

    /* margin-left: 20px; */
}
.options {
    position: absolute;
    right: 10px;
}
.dropdown:hover {
    cursor: pointer;
}
.options:hover {
    cursor: pointer;
}
.progressBar{
    width: 200px;
}
select {
    border-radius: 5px;
    -webkit-appearance: none;
    /* height: 20px; */
}

.selectUserText {
    font-size: 5px;
}

select.noAppearance {
    -webkit-appearance: none;
  }

  .mt-2, .my-2 {
    margin-top: 0rem!important;
}